table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

thead tr {
  background-color: #bebebe;
  color: white;

}

th, td {
  padding: 2px 3px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #e7e5e5;
}

tbody tr:hover {
  background-color: #d6d6d6;
  cursor: pointer;
}

.btnMais {
  border-radius: 50%;
}

/* remoção de setas de input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
